.vscode/**
.vscode-test/**
src/**
out/**
node_modules/**
implementation.md
*.vsix
.eslintrc.json
.gitignore
esbuild.js
tsconfig.json
tsconfig.eslint.json
prettier.config.js
vitest.config.ts
.git/**
**/*.map
**/.DS_Store
